# Exemplo de variáveis de ambiente para docker-compose local

LOCAL_USER_ID=1000        # substitua pelo seu UID local (ex: id -u)
LOCAL_GROUP_ID=1000       # substitua pelo seu GID local (ex: id -g)

